.container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 40px);
  position: relative;
}

.header {
  position: relative;
  height: 40px;
}

.row {
  position: relative;
  height: 40px;
}

.year-mark {
  color: white;
}

.bar {
  position: absolute;
  height: 20px;
  background-color: steelblue;
  top: 10px;
  border-radius: 4px;
}
